.font-nav {
  font-family: Teachers;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.font-texte {
  font-family: Teachers;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.font-mini-titre {
  font-family: Teachers;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.font-gras {
  font-family: "Rubik Mono One";
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.font-login {
  font-family: Teachers;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.font-blond {
  color: var(--blonde, #f4af0a);
}

.font-dark {
  color: var(--brune, #e30613);
}

.font-ipa {
  color: var(--ipa, #57b999);
}
