@media (min-width: 1360px) {
  .header {
    display: flex;
    width: 1440px;
    padding: 15px 50px;
    justify-content: space-between;
    align-items: center;
    background: var(--black, #0f0f0f);
    position: fixed;
    z-index: 100;
  }

  .header-nav {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  .header-option {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  .header-login {
    display: flex;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid var(--white, #fff);
    transition: transform 0.2s;
  }

  .header-language {
    color: var(--white);
    background-color: var(--black);
    border: none;
    outline: none;
  }
}

@media (max-width: 1360px) {
  .header {
    display: flex;
    padding: 20px;
    justify-content: flex-end;
    align-items: center;
    align-self: stretch;
    background: var(--black, #0f0f0f);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
  }

  .header-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
  }

  .header-option {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .header-login {
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid var(--white, #fff);
  }

  .header-language {
    display: none;
  }
}
