@media (min-width: 1000px) {
  .title-background {
    display: flex;
    width: 1440px;
    padding: 50px 250px;
    justify-content: space-between;
    align-items: center;
  }

  .title-beer-blond {
    width: 190.547px;
    height: 600px;
    flex-shrink: 0;
  }

  .title-beer-dark {
    width: 158.789px;
    height: 500px;
    flex-shrink: 0;
  }

  .title-beer-ipa {
    width: 160.724px;
    height: 500px;
    flex-shrink: 0;
  }

  .title-logo {
    position: fixed;
    width: 817.483px;
    height: 150px;
    flex-shrink: 0;
    top: 410px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }
}

@media (max-width: 1000px) {
  .title-background {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    min-width: 250px;
  }

  .title-beer-blond {
    width: 63.516px;
    height: 200px;
    flex-shrink: 0;
  }

  .title-beer-dark {
    width: 47.637px;
    height: 150px;
    flex-shrink: 0;
  }

  .title-beer-ipa {
    width: 48.217px;
    height: 150px;
    flex-shrink: 0;
  }

  .title-logo {
    position: fixed;
    width: 272.494px;
    height: 50px;
    flex-shrink: 0;
    top: 270px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    transition: z-index 0.2s;
  }

  .title-logo.is-active {
    z-index: 0;
  }
}
