/* ====================================
// css variables
// ==================================== */

:root {
  --black: #0f0f0f;
  --white: #ffffff;
  --blonde: #f4af0a;
  --brune: #e30613;
  --ipa: #57b999;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

body {
  background: var(--black, #0f0f0f);
  color: var(--white, #ffffff);
}
